.products{
    padding-top: 30px;
}
.products__item{
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.products__item-img{
    width: 100%;
    height: 80.57142857%;
}
.products__item-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.products__item-type{
    font-size: 12px;
}
.products__item-price{
    display: inline;
}
.product__item-favorite{
    position: absolute;
    top: 20px;
    right: 20px;
}

.products__item-button{
    padding-top: 5px;
}
.products__item-button button{
    padding: 10px 5px;
    width: 100%;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
}