@import url(../Header.css);
@import url(./productViewing.css);
@import url(../Footer.css);
/* libary */
/* grid system */
@import url(../../Lib/Grid.css);
*{ 
    /* xoa mac dinh cua trinh duyet chorme  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans","AdihausDIN","Helvetica",Arial,sans-serif !important;
}